body {

    font-family: Arial, sans-serif;

    background: #f4f6f8;

    margin: 0;

    padding: 20px;

    color: #333;

}


h1 {

    text-align: center;

    margin-bottom: 40px;

    color: #1f2937;

}



.dashboard {

    display: flex;

    justify-content: center;

    gap: 25px;

    flex-wrap: wrap;

}



.card {

    background: white;

    width: 260px;

    padding: 25px;

    text-align: center;

    border-radius: 15px;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

}



.card h2 {

    color: #374151;

}



.card h3 {

    font-size: 30px;

    color: #2563eb;

}



.card p {

    line-height: 1.5;

}



.charts {

    display: flex;

    justify-content: center;

    gap: 30px;

    margin-top: 40px;

    flex-wrap: wrap;

}



.chart-box {

    background:white;

    width:45%;

    min-width:350px;

    padding:25px;

    border-radius:15px;

    box-shadow:0 4px 12px rgba(0,0,0,0.15);

}



.chart-box h2 {

    text-align:center;

}



canvas {

    max-height:280px;

}



.alerts {

    background:white;

    margin-top:40px;

    padding:25px;

    border-radius:15px;

    box-shadow:0 4px 12px rgba(0,0,0,0.15);

}



table {

    width:100%;

    border-collapse:collapse;

}



th {

    background:#2563eb;

    color:white;

    padding:12px;

}



td {

    padding:12px;

    border-bottom:1px solid #ddd;

    text-align:center;

}



tr:hover {

    background:#f1f5f9;

}



/* Risk Colours */

.risk-high {

    color:red !important;

    font-weight:bold;

}



.risk-medium {

    color:orange !important;

    font-weight:bold;

}



.risk-low {

    color:green !important;

    font-weight:bold;

}



/* Information Sections */

.project-info {

    background:white;

    margin-top:40px;

    padding:25px;

    border-radius:15px;

    box-shadow:0 4px 12px rgba(0,0,0,0.15);

}



.project-info h2 {

    text-align:center;

    color:#1f2937;

}



.info-box {

    line-height:1.7;

}



.info-box li {

    margin-bottom:10px;

}